<p-table #dt [columns]="cols" [value]="(datos | async).results" sortMode="multiple" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <p-toolbar>
        <div class="ui-toolbar-group-right">        
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Filtro global" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </p-toolbar>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 5%;"></th>
          <th style="width: 5%;"></th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="col.field === 'backdrop_path'">
            {{col.header}}
            <p-sortIcon *ngIf="col.field !== 'backdrop_path'" [field]="col.field"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th style="width: 5%;"></th>
          <th style="width: 5%;"></th>
          <th *ngFor="let col of columns">
            <input *ngIf="col.field !== 'backdrop_path'" style="width: 100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
          </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td style="width: 5%;">
          <button type="button" #btn pButton icon="pi pi-search" (click)="muestraDetalle(rowData)" style="margin-left: 2px;"></button>
        </td>
        <td style="width: 5%;">
          <button type="button" #btn pButton icon="pi pi-star" (click)="guardarFav(rowData)" style="margin-left: 2px;"></button>
        </td>
        <td *ngFor="let col of columns">
          <p *ngIf="col.field !== colImg && col.field !== colDate && col.field !== colLang">{{rowData[col.field]}}</p>
          <p *ngIf="col.field === colDate">{{rowData[col.field] | fecha}}</p>
          <p *ngIf="col.field === colLang">{{rowData[col.field] | idioma}}</p>
          <img *ngIf="col.field === colImg" src="{{getUrlImg(rowData[col.field])}}" alt="" style="width: 50%;">
        </td>
      </tr>
    </ng-template>
</p-table>
