<body>
  <div>
    <p-toast key="msjDatos" position="top-right"></p-toast>

    <form [formGroup]="formRegistro">
      <div class="container-fluid">
        <label><b>Email</b></label>
        <span class="ui-float-label">
            <input id="usuario" formControlName="usuario" name="uname" type="text" pInputText required> 
            <label for="usuario">Ingresá tu correo</label>
        </span>
  
        <label><b>Nombre</b></label>
        <span class="ui-float-label">
            <input id="nombre" formControlName="nombre" name="unombre" type="text" pInputText required> 
            <label for="nombre">Ingresá tu nombre</label>
        </span>
  
        <label><b>Clave</b></label>
        <span class="ui-float-label">
            <input id="clave" formControlName="clave" name="psw" type="password" [feedback]="false" pPassword required> 
            <label for="clave">Ingresá una clave</label>
        </span>
  
        <label><b>Repita la clave</b></label>
        <span class="ui-float-label">
            <input id="confirmaClave" formControlName="confirmaClave" name="psw-repeat" type="password" [feedback]="false" pPassword required> 
            <label for="confirmaClave">Volvé a ingresar la misma clave</label>
        </span>
        
        <div>
          <label><b>Selecciona una imagen para el perfil</b></label>
        </div>
        <input formControlName="imagen" type="file" name="img-file" accept="image/png" id="img-file">

        <div class="clearfix">
          <button type="button" (click)="goBack()" class="cancelbtn">Volver</button>
          <button type="button" (click)="registrar()" class="signupbtn">
            Registrarme
            <i class="fa fa-spinner fa-spin" *ngIf="getEnEspera()"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</body>