<p-table *ngIf="!verDetalle" #dt [columns]="cols" [value]="listaPeliculas" sortMode="multiple" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button *ngIf="peliculaSeleccionada !== null" type="button" #btn pButton icon="pi pi-search" (click)="muestraDetalle(true)" style="margin-left: 2px;"></button>
        </div>
        <div class="ui-toolbar-group-right">        
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Filtro global" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </p-toolbar>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="col.field === 'poster_path'">
            {{col.header}}
            <p-sortIcon *ngIf="col.field !== 'poster_path'" [field]="col.field"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns">
            <input *ngIf="col.field !== 'poster_path'" style="width: 100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
          </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [ngClass]="(peliculaSeleccionada !== null && rowData.id === peliculaSeleccionada.id) ? 'filaSeleccionada' : null" (click)="eligePelicula($event, rowData)">
        <td *ngFor="let col of columns">
          <p *ngIf="col.field !== 'poster_path'">{{rowData[col.field]}}</p>
          <img *ngIf="col.field === 'poster_path'" src="{{getUrlImg(rowData[col.field])}}" alt="" style="width: 50%;">
        </td>
      </tr>
    </ng-template>
</p-table>

<app-detalle-pelicula *ngIf="verDetalle" [pelicula]="peliculaSeleccionada" (cerrarEvent)="muestraDetalle(false)"></app-detalle-pelicula>
